<HTML>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/a7e5305de0.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>newsILY</title>
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="card card-body bg-dark">
                <div class="row">
                    <div class="col">
                        <a href="{{url_for('index')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='logo.jpeg')}}" width="160"
                                height="100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <h1 style="margin-top: 1em" class="text-white">Welcome to newsILY</h1>
                    </div>
                    {% if x %}
                    <div class="col text-right">
                        <h3 class="text-white">Hi, {{y}}</h3>
                        <form action="/shared" method="GET">
                            <button type="submit" class="btn btn-primary" name="submit-button-2">Articles Shared With
                                You</button>
                        </form>
                        <form action="/" method="POST">
                            <button class="btn btn-danger" type="submit" value="Submit"
                                name="logout-button">Logout</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="col-2"></div>
                    <form action="/login" method="GET">
                        <div class="col text-right">
                            <button style="margin-top: 2em; margin-right: 2em" type="submit"
                                class="btn btn-primary">Login/Register</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <form method="POST">
        <div class="col-md-10 offset-md-1 mt-5 pt-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Articles Keyword or Phrase"
                    aria-label="Recipient's username" name="article-keywords-phrase">
                <input type="text" class="form-control col-md-2" placeholder="Language (en, fr etc.)"
                    aria-label="Recipient's username" name="language">
                <input type="text" class="form-control col-md-2" placeholder="Search From Date"
                    aria-label="Recipient's username" name="search-from">
                <input type="text" class="form-control col-md-2" placeholder="Search To Date"
                    aria-label="Recipient's username" name="search-to">
                <div class="input-group-append">
                    <div class="dropdown">
                        <select class="btn btn-primary" name="dropdown-menu" id="dropdown-menu">
                            <option value="" disabled selected hidden>Sort By</option>
                            <option class="dropdown-item btn-primary text-white" value="popularity">Popularity</option>
                            <option class="dropdown-item btn-primary text-white" value="publishedAt">Date</option>
                            <option class="dropdown-item btn-primary text-white" value="relevancy">Relevance</option>
                        </select>
                    </div>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-primary" type="submit" value="Submit"
                        name="submit-button-1"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>

    <br>
    <h2>
        {% if z %}
        <center>Searched News Articles</center>
        {% else %}
        <center>Trending News</center>
        {% endif %}
    </h2>
    <br>

    <div class="row">
        <br><br>
        {% for article in data %}
        <div class="col-4 d-flex">
            <div class="card">
                <img class="card-img-top" style="height:50%" src={{article['urlToImage']}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{article['title']}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Source: {{article['source']['name']}}</h6>
                    <p class="card-text">{{article['description']}}</p>
                    <div class="row">
                        <div class="col text-left">
                            <a href="{{article['url']}}" class="btn btn-primary">See Article</a>
                        </div>
                        <form action="/article" method="POST">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-success" name="article-info"
                                    value="{{article}}">Article
                                    Information</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>