<HTML>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/a7e5305de0.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>newsILY</title>
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="card card-body bg-dark">
                <div class="row">
                    <div class="col">
                        <a href="{{url_for('index')}}">
                            <img class="img-fluid" src="{{url_for('static', filename='logo.jpeg')}}" width="160"
                                height="100" alt="">
                        </a>
                    </div>
                    <div class="col">
                        <h1 style="margin-top: 1em" class="text-white">Welcome to newsILY</h1>
                    </div>
                    {% if x %}
                    <div class="col text-right">
                        <h3 style="margin-top: 1em" class="text-white">Hi, {{y}}</h3>
                        <form action="/shared" method="GET">
                            <button type="submit" class="btn btn-primary" name="submit-button-2">Articles Shared With
                                You</button>
                        </form>
                    </div>
                    {% else %}
                    <form action="/login" method="GET">
                        <div class="col text-right">
                            <button style="margin-top: 2em" type="submit"
                                class="btn btn-primary">Login/Register</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="list-group offset-md-2 col-md-8 mt-5">
        {% for details in z %}
        <form method="POST" action="/article">
            <button type="submit" value="{{details[2]}}" name="article-info"
                class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{details[2]['title']}}</h5>
                    <small class="text-muted">{{details[2]['publishedAt']}}</small>
                </div>
                <small>By {{details[2]['author']}}</small>
                <p class="mb-1">{{details[2]['description']}}</p>
                <small class="text-muted">Shared by {{details[1]}} ({{details[0]}})</small>
            </button>
        </form>
        {% endfor %}
    </div>

</body>